.grid > div {
  float: left;
  min-height: 1px;
  text-align: center;
}


@media screen and (min-width: 480px) {
  .grid > .col-1 {
    width: getWidth(1);
  }
  .grid > .col-2 {
    width: getWidth(2);
  }
  .grid > .col-3 {
    width: getWidth(3);
  }
  .grid > .col-4 {
    width: getWidth(4);
  }
  .grid > .col-6 {
    width: getWidth(6);
  }
  .grid > .col-8 {
    width: getWidth(8);
  }
  .grid > .col-9 {
    width: getWidth(9);
  }
  .grid > .col-12 {
    width: getWidth(12);
  }
}
@media screen and (min-width: 780px) {
  .grid > .col-12 {
    width: 100%;
    background-color: lightcyan;
  }
  .grid > .col-6 {
    width: 50%;
    height: 500px;
    background-color: #ffd0b6;
  }
  .grid > .col-4 {
    width: 33.3333333333%;
    background-color: lightgrey;
  }
  .grid > .col-3 {
    width: 25%;
    background-color: lightpink;
  }
  .grid > .col-2 {
    width: 16.6666666667%;
    background-color: lightgreen;
  }
  .grid > .col-1 {
    width: 8.3333333333%;
    background-color: lightcoral;
  }
}
@media screen and (min-width: 1080px) {
  .grid > .col-12 {
    width: 100%;
    background-color: lightcoral;
  }
  .grid > .col-6 {
    width: 50%;
    background-color: lightcyan;
  }
  .grid > .col-4 {
    width: 33.3333333333%;
    height: 500px;
    background-color: #ffd0b6;
  }
  .grid > .col-3 {
    width: 25%;
    height: 500px;
    background-color: lightgrey;
  }
  .grid > .col-2 {
    width: 16.6666666667%;
    background-color: lightpink;
  }
  .grid > .col-1 {
    width: 8.3333333333%;
    background-color: lightgreen;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  font-family: "Arial";
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

header img {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 7%;
  height: 60%;
  background: #555;
}

header {
  width: 100%;
  height: 50%;
  background-color: #ffd0b6;
  color: black;
  text-align: center;
}
header h1 {
  margin: 0;
  line-height: 80px;
  padding: 0 12px;
}

.temas {
  border: solid 1px black;
}

.temas > div {
  width: 25%;
  background-color: #ffd0b6;
  float: left;
}

.temas::after {
  content: "";
  display: table;
  clear: both;
}

.button-primary {
  background-color: purple;
  color: #fff;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 500px) {
  .temas > div {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .temas > div {
    width: 25%;
  }
}




html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

a {
  background-color: transparent
}

img {
  border-style: none
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

input {
  overflow: visible
}

[type=submit] {
  -webkit-appearance: button
}

[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

 ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

h2,
h3,
h4,
h5,
hr,
p {
  margin: 0
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5
}

*,
 ::after,
 ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0
}

hr {
  border-top-width: 1px
}

img {
  border-style: solid
}

input:-ms-input-placeholder {
  color: #a0aec0
}

input::-ms-input-placeholder {
  color: #a0aec0
}

h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

input {
  padding: 0;
  line-height: inherit;
  color: inherit
}

img {
  display: block;
  vertical-align: middle
}

img {
  max-width: 100%;
  height: auto
}

.container {
  width: 100%
}

@media (min-width:640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }
}

.bg-black {
  --bg-opacity: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.justify-center {
  justify-content: center
}

.justify-around {
  justify-content: space-around
}

.font-bold {
  font-weight: 700
}

.text-4xl {
  font-size: 2.25rem
}

.my-3 {
  margin-top: .75rem;
  margin-bottom: .75rem
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.mb-3 {
  margin-bottom: .75rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.pt-3 {
  padding-top: .75rem
}

.pt-6 {
  padding-top: 1.5rem
}

.text-center {
  text-align: center
}

.text-black {
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity))
}

.text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity))
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width:768px) {
  .md\:mb-0 {
    margin-bottom: 0
  }
  .md\:mb-10 {
    margin-bottom: 2.5rem
  }
}

*,
 :after,
 :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1>* {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2>* {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3>* {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row-cols-4>* {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5>* {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6>* {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-sm-1>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-sm-2>* {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-sm-3>* {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-sm-4>* {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-sm-5>* {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-sm-6>* {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    order: -1;
  }
  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-md-1>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-md-2>* {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-md-3>* {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-md-4>* {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-md-5>* {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-md-6>* {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    order: -1;
  }
  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-lg-1>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-lg-2>* {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-lg-3>* {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-lg-4>* {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-lg-5>* {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-lg-6>* {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-xl-1>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-xl-2>* {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-xl-3>* {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-xl-4>* {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-xl-5>* {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-xl-6>* {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    order: -1;
  }
  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

blockquote {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (max-width: 767px) {
  .hide-for-mobile,
  .hide-for-mobile-only,
  .show-for-large {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hide-for-large,
  .show-for-mobile,
  .show-for-mobile-only {
    display: none !important;
  }
}

.covid a {
  text-decoration: none;
}

.covid .underline {
  text-decoration: underline !important;
  font-weight: 600;
}

.covid .min {
  font-size: 16px;
}

.covid .line {
  text-decoration: line-through;
}

.covid .bg-full {
  padding-top: 240px;
}

@media (max-width: 767px) {
  .covid .bg-full {
    padding-top: 60px;
  }
}

.covid .text-black {
  color: #202020;
}

.covid .text-white {
  color: #fff;
}

.covid .text-gray {
  color: grey;
}

.covid .text-primary {
  color: #ffb612;
}

.covid .fw-900 {
  font-family: Gotham;
  font-weight: 900;
  
}

.covid .fw-900,
.covid h1,
.covid h2,
.covid h3,
.covid h4 {
  font-weight: 900;
}

.covid h1 {
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
}

.covid h2 {
  font-size: 50px;
  line-height: 55px;
}

.covid h3 {
  font-size: 35px;
}

.covid h4 {
  font-size: 30px;
}

.covid .fz-28 {
  font-size: 34px;
  line-height: 1.1;
}

.covid .fz-24 {
  font-size: 22px;
  line-height: 1.3;
}

.covid .fz-20 {
  font-size: 20px;
  line-height: 1.3;
}

.covid .fz-18 {
  font-size: 18px;
  line-height: 1.3;
}

.covid .fz-14 {
  font-size: 14px;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .covid h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .covid h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .covid h3 {
    font-size: 28px;
    line-height: 28px;
  }
  .covid h4 {
    font-size: 25px;
    line-height: 25px;
  }
  .covid .fz-24 {
    font-size: 18px;
    line-height: 1.3;
  }
  .covid .fz-18,
  .covid .fz-20 {
    font-size: 16px;
    line-height: 1.3;
  }
  .covid .fz-14 {
    font-size: 14px;
    line-height: 1.3;
  }
}

.covid .bg-white {
  background: #fff;
}

.covid .bg-primary {
  background: #ffb612;
}

.covid .bg-blacker {
  background: #000;
}

.covid .bg-black {
  background: #202020;
}

.covid .bg-gray {
  background: #f4f4f4;
}

.covid .align-items-center {
  align-items: center;
}

.covid .container {
  max-width: 1280px;
}

.covid *,
.covid h1,
.covid h1 *,
.covid h2,
.covid h2 *,
.covid h3,
.covid h3 * {
  font-family: Gotham;
}

.covid .btn {
  background: #d52b1e;
  color: #fff;
  font-weight: 700;
  padding: 20px 40px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 767px) {
  .covid .btn {
    padding: 15px 40px;
    font-size: 16px;
  }
}

.covid .d-ib,
.covid .strike {
  display: inline-block;
}

.covid .strike {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.covid .strike * {
  position: relative;
  z-index: 1;
}

.covid .strike:before {
  content: '';
  background: #ffb612;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  z-index: 0;
}

.covid section {
  padding: 40px 20px;
}

.covid .mudancas {
  display: flex;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .covid .mudancas {
    width: 100%;
    overflow-x: auto;
    padding-left: 30px;
  }
}

.covid .mudancas .card-mudancas {
  background: #ffb612;
  padding: 15px;
  color: #202020;
  margin-right: 15px;
  flex: 1;
}

@media (max-width: 767px) {
  .covid .mudancas .card-mudancas {
    min-width: calc(100vw - 140px);
  }
}

.covid .mudancas .card-mudancas__title {
  font-size: 20px;
  font-weight: 900;
  text-transform: none;
  font-family: Gotham;
}

.es-PE .covid .mudancas .card-mudancas__title,
.es-HN .covid .mudancas .card-mudancas__title {
  text-transform: none;
}

@media (min-width: 768px) {
  .es-PE .covid .mudancas .card-mudancas:nth-child(3) .card-mudancas__title,
  .es-HN .covid .mudancas .card-mudancas:nth-child(3) .card-mudancas__title {
    min-height: 60px;
  }
}

.covid .mudancas .card-mudancas img {
  height: 90px;
  width: auto;
  display: block;
  margin: 20px auto;
}

.covid .mudancas .card-mudancas__description {
  font-size: 14px;
}

.covid .oferece-item {
  position: relative;
}

.covid .oferece-item:before {
  content: '';
  width: calc(100% - 30px);
  height: 150px;
  background: linear-gradient(0deg, #000, transparent);
  position: absolute;
  bottom: 0;
  left: 15px;
}

.covid .oferece-item h4 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
  z-index: 10;
}

@media (max-width: 767px) {
  .covid .oferece {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: -35px;
    width: 100vw;
  }
  .covid .oferece .col-md-4 {
    max-width: calc(100vw - 30px);
    flex: 0 0 calc(100vw - 30px);
    padding: 0;
    margin-right: 15px;
  }
  .covid .oferece-item:before {
    width: 100%;
    left: 0;
  }
}

.covid .phones {
  width: 70%;
  margin-top: -16%;
}

@media (max-width: 767px) {
  .covid .phones {
    margin: 10px auto 0;
    width: 90%;
  }
}

.covid .plano {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-bottom: 30px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
  color: red;
}

.covid .plano .badge {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 14px;
  background: #d52b1e;
  color: #fff;
  padding: 3px 10px;
}

.covid .plano .badge:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #87180f;
  bottom: -9px;
  right: 0;
  transform: rotate(-45deg);
}

.covid .plano__header {
  padding-bottom: 45px;
}

.covid .plano__price {
  max-width: 80%;
  margin: -30px auto 20px;
  padding: 5px;
}

.covid .plano__price .a-partir {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.covid .btn {
  border-radius: 4px;
  padding: 20px 50px;
}

.covid .btn.btn-sm {
  padding: 10px 60px !important;
  
}

.covid .covid__app_images {
  display: flex;
}

.covid .covid__app_images img {
  width: auto;
  height: 50px;
}

.covid .covid__phone-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.covid .covid__phone-images img {
  position: absolute;
  width: 277.5px;
  height: 277.5px;
}

.covid .covid__phone-images img+img {
  position: relative;
  left: 0;
  width: 339.64px;
  height: 281.31px;
}

.covid .oferece-item h4 {
  font-size: 14px;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .padding-bottom-0 {
    padding-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .hide-desk {
    display: none;
  }
  .covid .plano-smart .plano__cta {
    margin-top: 95px;
  }
}

@media (min-width: 988px) {
  .covid section {
    padding-top: 50px !important;
  }
  .covid .covid__app_images img {
    margin-left: 0;
  }
  .covid .covid__app_images a+a img {
    margin-left: 20px;
  }
}

#main-banner-carousel {
  padding: 0 !important;
  position: relative;
}

#main-banner-carousel-items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.carousel-item {
  width: 90%;
  flex: none;
  scroll-snap-align: start;
  position: relative;
  float: left;
  height: 100%;
}

.single .carousel-item {
  width: 100%;
}

.carousel-item .covid__banner {
  height: 100%;
  position: relative;
  display: block;
}

.carousel-item img {
  width: 100%;
  margin: auto;
  height: auto;
  object-fit: contain;
}

.carousel-item img.carousel-item-desktop {
  display: none;
}

.carousel-item img.carousel-item-mobile {
  display: block;
}

.carousel-item img.carousel-item-desktop,
.carousel-item img.carousel-item-mobile {
  width: 100%;
  margin: auto;
  height: auto;
}

@media (min-width: 768px) {
  .carousel-item img.carousel-item-desktop {
    display: block;
  }
  .carousel-item img.carousel-item-mobile {
    display: none;
  }
}

.carousel-arrow {
  opacity: 0;
  width: 50px;
}

.single .carousel-arrow {
  display: none !important;
}

.carousel-arrow.carousel-arrow-left {
  left: 0;
}

.carousel-arrow.carousel-arrow-right {
  right: 0;
}

.carousel-arrow.carousel-arrow-left,
.carousel-arrow.carousel-arrow-right {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-arrow img {
  width: 36px;
  height: 72px;
}


:root {
  --carousel-width: 40vw;
  --carousel-height: calc(0.7 * var(--carousel-width));
  --carousel-padding: 5px;
}

@media (max-width: 479px) {
  :root {
    --carousel-width: 95vw;
  }
}

.viewport {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot-carousel-frame {
  background: #fafafa;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: calc(var(--carousel-width) + (2 * var(--carousel-padding)));
  height: calc(var(--carousel-height) + (2 * var(--carousel-padding)));
}

.dot-carousel {
  width: var(--carousel-width);
  height: var(--carousel-height);
}

.dot-scroll {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

ul.dot-scroll {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dot-scroll-item-outer {
  width: 100%;
  min-height: 386px;
}

.dot-scroll-item {
  width: var(--carousel-width);
  height: 100%;
}

@supports (scroll-snap-align: start) {
  /* modern dot-scroll snap points */
  .dot-scroll {
    scroll-snap-type: x mandatory;
  }
  .dot-scroll-item-outer {
    scroll-snap-align: center;
  }
}

@supports not (scroll-snap-align: start) {
  /* old dot-scroll snap points spec */
  .dot-scroll {
    -webkit-scroll-snap-type: mandatory;
            scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0% center;
            scroll-snap-destination: 0% center;
    -webkit-scroll-snap-points-x: repeat(100%);
            scroll-snap-points-x: repeat(100%);
  }
  
  .dot-scroll-item-outer {
    scroll-snap-coordinate: 0 0;
  }
}

.dot-indicators {
  display: flex;
  width: 100%;
  justify-content: center;
}

ul.dot-indicators {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dot-indicator {
  padding: 0px;
}

.dot-indicator-button {
  cursor: pointer;
  background: none;
  border: none;
  color: #C4C4C4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  content: 'â—';
}

.dot-indicator-button:after {
  content: 'â—';
  font-size: 1.4em;
  padding: 2px 8px 2px;
}

.dot-indicator-button:hover {
  color: #C4C4C4
}

.dot-indicator-button:active {
  color: #999;
  padding: 0;
}

.dot-indicator-button[aria-pressed="true"]:after {
  content: 'â—';
  color: #FDB924;
}

@media (min-width: 768px) {
  #main-banner-carousel-items {
    overflow-x: hidden;
  }
  #main-banner-carousel:hover .carousel-arrow.carousel-arrow-left,
  #main-banner-carousel:hover .carousel-arrow.carousel-arrow-right {
    opacity: 1;
  }
  .carousel-item {
    width: 100%;
  }
}

.general_content {
  padding: 0!important;
}

html,
body {
  overflow-x: hidden;
}

.home__cta-digital-products-wrapper > h3 {
  padding: 0 20px;
}

.covid section.home__cta-digital-products {
  padding-top: 0!important;
}

.home__cta-digital-products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.home__cta-digital-products__wrapper {
  max-width: 1200px;
}

.home__cta-digital-products__card-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 20px;
  overflow: auto;
  padding-top: 20px;
  width: 250px;
  gap: 8px;
}

.home__cta-digital-products__card {
  width: 240px;
  min-height: 386px;
  border-radius: 17px;
  font-family: 'Gotham', Verdana, Arial;
  font-weight: normal;
  /* border: solid 1px #8F8F8F; */
  flex: 0 0 auto;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.home__cta-digital-products__card-top {
  background-color: #FFB612;
  flex-basis: 250px;
  border-radius: 8px 8px 0  0;
}

.home__cta-digital-products__card-bottom {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 8px 8px ;
}

.home__cta-digital-products__card-title {
  align-items: center;
  color: #FFF;
  display: flex;
  font-size: 16px;;
  font-weight: 700;
  justify-content: left;
  line-height: 20px;
  padding: 0px 20px;
  position: relative;
  z-index: 2;
}

.home__cta-digital-products__card-title-small {
  font-size: 20px;
}

.home__cta-digital-products__card-img {
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  min-height: 386px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.gradient {
  position: absolute;
  max-width: none;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.136) 52.52%, rgba(0, 0, 0, 0.85) 89.94%);
}

.home__cta-digital-products__card-img img {
  border-radius: 17px;
  max-width: none;
  position: absolute;
  z-index: -1;
}

.home__cta-digital-products__card-img-title {
  background-color: #000;
  padding: 2px 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  position: absolute;
  right: 0;
  top: 45%;
  width: 124px;
  z-index: 3;
}

.home__cta-digital-products__card-img-title-1 {
  color: #FFBC16;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}

.home__cta-digital-products__card-img-title-1 span {
  color: #FFBC16;
  font-size: 12px;
  font-weight: 900;
  margin-left: 0;
}

.home__cta-digital-products__card-img-title-2 {
  font-size: 12px;
  color: #FFBC16;
}

.home__cta-digital-products__card-button {
  display: block;
  background-color: #FFB612;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.home__cta-digital-products__card-cta-trigger {
  padding: 10px 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  min-height: 32px;
  z-index: 2;
}

.home__cta-digital-products__card-wrapper-desc {
  position: absolute;
  bottom: 0%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.home__cta-digital-products__card-desc {
  color: #FFF;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  min-height: 54px;
  padding: 0px 20px;
  text-align: start;
  z-index: 2;
}

.es-PE .home__cta-digital-products__card-desc {
  min-height: 54px;
}

.home__cta-digital-products__card-desc p {
  margin-bottom: 20px;
}

.home__cta-digital-products__card-desc p:last-child {
  margin-bottom: 0
}

.covid__new-smart-text {
  display: flex;
  align-items: center;
}

.title-gotham-black {
  font-family: 'Gotham Black' !important;
}

.home__cta-digital-products__card-splash {
  color: white;
  background-color: #d52b1e;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -13px;
  margin-right: -10px;
  padding: 2px 10px;
  font-weight: normal;
  font-size: 10px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__cta-digital-products__card-splash:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 0px;
  border-left: 0 solid transparent;
  border-right: 9px solid transparent;
  border-top: 10px solid #87180F;
}

@media (min-width: 1024px) {
  .home__cta-digital-products {
    display: flex;
    justify-content: center;
  }

  .home__cta-digital-products__card-list {
    width: 100%;
    padding-left: 10px;
  }

  .home__cta-digital-products__wrapper {
    overflow-x: scroll;
    max-width: 1200px;
  }

  .home__cta-digital-products__card {
    width: 250px;
    min-height: 450px;
    border-radius: 19px;
  }

  .home__cta-digital-products__card-splash {
    margin-top: -18px;
    font-size: 12px;
    height: 25px;
  }
  .home__cta-digital-products__card-splash:before {
    margin-top: 25px;
  }

  .home__cta-digital-products__card-title {
    font-size: 20px;
    line-height: 24px;
  }

  .home__cta-digital-products__card-title-small {
    font-size: 20px;
  }

  .home__cta-digital-products__card-button {
    padding: 10px 16px;
  }

  .home__cta-digital-products__card-button:hover {
    background-color: #000;
    color: white;
  }

  .new_smart__description {
    padding: 0 100px;
  }

  .home__cta-digital-products__card {
    width: 280px;
    min-height: 450px;
    border-radius: 19px;
  }

  .home__cta-digital-products__card-img {
    min-height: 450px;
    border-radius: 19px;
  }

  /*.home__cta-digital-products__card-img img{
    height: 450px;
    width: 675px;
    margin-left: -340px;
  }*/

  .home__cta-digital-products__card-img-title {
    top: 45%;
    width: 144px;
  }

  .home__cta-digital-products__card-img-title-1 {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
  }

  .home__cta-digital-products__card-desc {
    font-size: 14px;
    line-height: 18px;
  }

  .home__cta-digital-products__card-cta-trigger {
    min-height: 36px;
  }

  .dot-scroll {
    gap: 10px;
  }

  .dot-indicators {
    visibility: hidden;
  }
}

html[lang='es-MX'] .covid .btn {
  padding-left: 20px;
  padding-right: 20px;
}

.membership_price_tax {
  font-size: 14px;
  margin-left: 5px;
}

.formatted_membership_price {
  display: flex;
  align-items: center;
  justify-content: center;
}
